<!DOCTYPE html>
<html>
<head>
    <title>Find or Publish your Room!</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Find or Publish your Room!</h1>
            <p>
                <a href="{{ url_for('index')}}">Home</a> |
                <a href="{{ url_for('read')}}">Rent Information</a> |
                <a href="{{ url_for('create')}}">Publish</a> |
                <a href="{{ url_for('edit', mongoid='some_value')}}">Edit</a> |
            </p>

        </header>
        <main>{% block container %} {% endblock %}</main>
        <footer>
            <p>
                The source code for this example app is
                <a href="https://github.com/nyu-database-design/flask-mongodb-web-app">available on Github</a>.
            </p>
        </footer>
    </div>
</body>
</html>
